<footer class="site-footer">
    <div class="footer-left">
        <span>Development by PANiXiDA</span>
        <a href="https://t.me/PANiXiDA111" target="_blank">
            <img src="images/telegram.svg" alt="Telegram" class="social-icon" />
        </a>
    </div>
    <div class="footer-right">
        &copy; @DateTime.Now.Year Heroes War And Money Tournaments
    </div>
</footer>
