@inject NavigationManager Navigation

<header class="site-header">
    <div class="header-left">
        <img src="images/app-icon.png"
             alt="Logo"
             class="app-icon"
             style="cursor:pointer;"
             @onclick="@(() => Navigation.NavigateTo("/"))" />

        <span class="site-title"
              style="cursor:pointer;"
              @onclick="@(() => Navigation.NavigateTo("/"))" >
            Heroes War And Money Tournaments
        </span>
    </div>

    <div class="header-right">
        <NavLink href="login" class="btn btn-outline-light">Войти</NavLink>
        <NavLink href="register" class="btn btn-primary">Регистрация</NavLink>
    </div>
</header>
