@inject NavigationManager Navigation

<header class="site-header">
    <div class="header-left">
        <img src="images/app-icon.png"
             alt="Logo"
             class="app-icon"
             style="cursor:pointer;"
             @onclick="@(() => Navigation.NavigateTo("/"))" />

        <span class="site-title"
              style="cursor:pointer;"
              @onclick="@(() => Navigation.NavigateTo("/"))" >
            Heroes War And Money Tournaments
        </span>
    </div>

    <div class="header-right">
        <button class="btn btn-outline-light" @onclick="@(() => Navigation.NavigateTo("/login"))">
            Войти
        </button>
        <button class="btn btn-primary" @onclick="@(() => Navigation.NavigateTo("/register"))">
            Регистрация
        </button>
    </div>
</header>
