@page "/"

<PageTitle>Home</PageTitle>

<section class="home-intro">
    <h1>Добро пожаловать в мир турниров Heroes War And Money</h1>
    <p>
        Создавайте и управляйте эпическими сражениями магов и героев,
        участвуйте в тёмных ритуалах и завоёвывайте королевские сокровища!
    </p>
    <p>
        Здесь вы найдёте всё для организации турниров: регистрация участников,
        управление расписанием, таблицы лидеров и многое другое.
    </p>
    <NavLink href="tournaments" class="btn btn-gold btn-lg">Перейти к турнирам</NavLink>
</section>
